<div class="full-height">

<!--
<mat-tab-group>
<mat-tab label="First">
-->

    <div fxLayout="column" class="full-height">
        <div class="blue" fxFlex="initial">
          Panel 1!
          <br>x<br>x<br>x<br>x<br>x<br>x<br>x<br>x<br>x<br>
        </div>
        <div class="green" fxFlex>
          Panel 2 x
          <br>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx2222222222222222222222222222222222222333333333333333333333333333344444444444444444444444444445
          <br>x<br>x<br>x<br>x<br>x<br>x<br>x<br>x<br>

          x<br>x<br>x<br>x<br>x<br>x<br>x<br>x<br>x<br> x
          <br>x<br>x<br>x<br>x<br>x<br>x<br>x<br>x<br> x
          <br>x<br>x<br>x<br>x<br>x<br>x<br>x<br>x<br> x
          <br>x<br>x<br>x<br>x<br>x<br>x<br>x<br>x<br>
        </div>
        <div class="pink" fxFlex="100px" fxLayout="row">
          <div fxFlex>
            Panel 3
          </div>
          <div fxFlex="100px">To the right</div>
        </div>
      </div>

<!--
</mat-tab>
</mat-tab-group>
-->

</div>
